/* small screen */

/* common */

body{
    margin: 0;
}

h1{
    margin: 0;
    font-weight: normal;
}

h2{
    margin: 0;
    font-weight: normal;
}

p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    list-style: none;
}

img{
    vertical-align: bottom;
}

a{
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
    display: block;
}

a:hover{
    opacity: 0.5;
}

.container{
    margin: 0 16px;
}

/* header */

header{
    background-color: #eee;
    padding: 8px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: auto;
    height: 48px;
}

header form{
    display: none;
}

header input,
header button{
    all: unset;
}

header input{
    border-bottom: 1px solid #aaa;
    padding: 4px;
    width: 300px;
}

header button:hover{
    cursor: pointer;
}

header ul{
    display: flex;
}

header li + li{
    margin-left: 8px;
}

header li a{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

header li a i{
    font-size: 18px;
    text-align: center;
}

/* hero */

.hero img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* products */

.products{
    padding: 80px 0;
}

.products ul{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.products li{
    width: calc((100% - 16px) / 2);
}

.products li img{
    width: 100%;
}

.products li p{
    margin-top: 8px;
}

.products .more{
    display: block;
    width: 70%;
    line-height: 48px;
    border: 2px solid #333;
    text-align: center;
    margin: 32px auto 0;
}

/* footer */

footer{
    background-color: #4c4948;
    padding: 16px 0;
    color: #eee;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer small{
    font-size: 16px;
}

footer ul{
    display: flex;
}

footer li + li{
    margin-left: 8px;
}

footer li i{
    font-size: 24px;
}

/* medium screen */

@media (min-width:600px){

    .container{
        max-width: 800px;
        width: calc( 100% - 32px );
        margin: 0 auto;
    }

    .products li{
        width: calc((100% - 32px) / 3);
    }
}

/* medium screen */

@media (min-width:800px){

    header form{
        display: block;
    }
}